body{
    width: 100%;
    height: 100%;
    border: 0%;
}

* {
    margin: 0;
    padding: 0;
    background: black;
}


.container {
    height: 120px;
    background: black;
    width: 100%;
    
    }

.navbar {
    width: 45%;
    max-height: 15vw;
    margin:auto;
    /*padding: 35px 0;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.navbar i{
    
    font-size: 36px;
    display: none;
}

#toggle-menu{
    display: none;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: Roboto, "sans-serif";
    font-size: 1.2rem;
}

.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: yellowgreen;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
    
}

.navbar ul li:hover::before {
    width: 100%;
}

.hero{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
  


  
.header-overlay {
  position: absolute;
  height: 800px;
  width: 100%;
  padding-top: 300px;
  background: #303952;
  opacity: .85;
}

h1{ 
  color: white;
  position: absolute;
  padding-top: 180px;
  font-size: 80px;
  background: none;
  font-family:"valorant";
}

h2{
  color: white;
  position: absolute;
  padding-top: 100px;
  background: none;
  font-size: medium;
}

.hero a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.button {
    z-index: 2;
    margin-top: 30%;
    color: white;
    background: none;
    width: 12%;
    height: 10%;
    position: absolute;
    border-radius: 5px;
    border: black 1px solid;
    font-size:larger;
    }
    

    .button:hover {
       
        transition: 1s ease-out ;
        background: yellowgreen;
        color: black;
    
    }


    @media(max-width:760px){

        .container{
            position: absolute;
            align-items: center;
            justify-content: center;
           
           
        }


        .navbar ul {
            background: black;
            width: 100%;
            position: absolute;
            top: 120px;
            left: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: none;
        }

        .navbar i{
            position: absolute;
            display: block;
            color: white;
        }

        #toggle-menu:checked ~ ul {
            display: flex;
            position: absolute;
            z-index: 5000;
            width: 100%;
            height: 50%;
            background: black;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
        }
        

        .button{
            margin-top: 50%;
            height: 50px; 

        }
        
        }

        
        
        @media (max-width: 400px){

      

            .hero{
                display: flex;
                align-items: stretch;
                justify-content: space-around;
                background: none;
            }
          

            .container{
                display: flex;
                flex-direction: column;
                padding: 10%;
                width: 100%;
                
            }

           
            video{
                display: none;
            }

            .header-overlay{
                display: none;
            }

            .navbar{
                flex-direction: row-reverse;
                width: 100%;
                display: flex;
                padding-top: 0%;
                padding-right: 50%;
                background: none;
            }

            #toggle-menu:checked ~ ul {
                
                display: block;
                width: 100%;
                height: auto;
                padding-top: 50px;
                padding-left: 100px;
                background: black;
            }

             h2{
                font-size: 15px;
                display: flex;
                width: 100%;
                padding-right: 25px;
                justify-content: center;
                background: none;
            }


            h1{
                width: 100%;
                font-size: 45px;
                display: flex;
                justify-content: inherit;
                padding-right: 30px;
                background: none;
               
            }

            
            .button{
                background: none;
                width: 100%;
                display: flex;
                padding-top: 5%;
                padding-right: 4%;
                color: greenyellow;
            }


            
        }

   



  







