* {
    margin: 0;
    padding: 0;
    background: black;
}


.navbar {

    width: 10%;
    align-items: center;
    padding-left: 400px;
}

.logo {
    width: 250%;
    cursor: pointer;
   
}

.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#hero {
    max-width: 1200px;
    /* margin: 0 auto; */
    margin-top: 65px;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 150px;
    box-shadow: 5px 5px 5px 5px rgba(103, 1, 255, 0.271);
    gap: 20px;
    width: 50%;
  }

  .hero-info p {
    font-size: 14px;
    width: 70%;
    color: white
  }
  




.pjs{
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: column;
    padding: 10%;
    gap: 100px;
    
}

.img-pjs{
    display: flex;
    width: 100%;
    gap: 100px;
    align-items: center;
    padding-left: 10%;
    
  
}

.caja1{
    width: 200px;

}

.caja2{
    width: 300px;
}


.img-forma2{
    display: flex;
    width: 40%;
    height: 40%;
}


.volver{
    display: flex;
    padding-left: 40%;
}

.volver a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.button {
    z-index: 2;
    color: white;
    background: none;
    width: 100%;
    height: 80%;
    border-radius: 5px;
    border: black 1px solid;
    font-size:20px;
   
    }
    

    .button:hover {
       
        transition: 1s ease-out ;
        background: yellowgreen;
        color: black;
    
    }







.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:760px){

    
    
    
    
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}


